/* Try different box model properties below */
.pages__page {
  border: 1px solid red;
  border-radius: 4px;
  background: #fff;
  display: inline-block;
  margin: 10px;
  padding: 4px;
}

.countries {
  padding: 10px 4px;
}
