.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries .countries--first {
  justify-content: end;
}
.countries .countries--second {
  justify-content: space-between;
}
.countries countries--tall countries--third {
  justify-content: flex-end;
}
